html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-y: scroll;
  background: var(--dark);
  font-family: var(--body-font);
}

.main {
  max-width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 134px);
}
